@model List<AcunMedyaPortolfyoProject.Models.Education>

<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

    <h3 class="resume-title">Eğitim</h3>

    @foreach (var item in Model)
    {
        <div class="resume-item">
            <h4>@item.Section</h4>
            <h5>@(item.StartYear != null ? ((DateTime)item.StartYear).ToString("dd.MM.yyyy") : "") - @(item.EndYear != null ? ((DateTime)item.EndYear).ToString("dd.MM.yyyy") : "")</h5>
            <p><em>@item.Name</em></p>
            <p>@item.Description</p>
        </div>
    }
    <!-- Edn Resume Item -->

    <h3 class="resume-title">Sertifikalar</h3>

    <div class="resume-item pb-0">
        <h4>C# ile Algoritma ve Programlama Sertifikası</h4>
        <p><em>Turkcell Geleceği Yazanlar</em></p>
    </div>
    <div class="resume-item pb-0">
        <h4>Algoritma Programlama ve Veri Yapılarına Giriş</h4>
        <p><em>BTK Akademi</em></p>
    </div>
    <div class="resume-item pb-0">
        <h4>IBM ile Kodluyoruz: CyberStart</h4>
        <p><em>Kodluyoruz</em></p>
    </div>
    <div class="resume-item pb-0">
        <h4>Cybersecurity Fundamentals</h4>
        <p><em>Kodluyoruz</em></p>
    </div>

    <!-- Edn Resume Item -->
</div>