@model AcunMedyaPortolfyoProject.Models.Project
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.ProjectID)
    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" }) <br />
    <label>Proje Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" }) <br />
    <label>Proje Linki</label>
    @Html.TextBoxFor(x => x.ProjectLink, new { @class = "form-control" }) <br />
    <label>Görsel-1</label>
    @Html.TextBoxFor(x => x.Image1, new { @class = "form-control" }) <br />
    <label>Görsel-2</label>
    @Html.TextBoxFor(x => x.Image2, new { @class = "form-control" }) <br />
    <label>Görsel-3</label>
    @Html.TextBoxFor(x => x.Image3, new { @class = "form-control" }) <br />
    <label>Kategori ID</label>
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" }) <br />
    <button class="btn btn-success">Güncelle</button>
</form>