@model  List<AcunMedyaPortolfyoProject.Models.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımızda Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hakkımda ID</th>
                <th>Görsel</th>
                <th>Ünvan</th>
                <th>Doğum Tarihi</th>
                <th>Web site</th>
                <th>Telefon No</th>
                <th>Şehir</th>
                <th>Yaş</th>
                <th>Email</th>
                <th>FreeLance</th>
                <th>Açıklama</th>
                <th>Açıklama-2</th>
                <th>Derece</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AboutID</td>
                    <td><img src="@item.ImageURL" style="width:50px" /></td>
                    <td>@item.Title</td>
                    <td>@item.Birthday</td>
                    <td>@item.Website</td>
                    <td>@item.Phone</td>
                    <td>@item.City</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.FreeLance</td>
                    <td>@item.Description1</td>
                    <td>@item.Description2</td>
                    <td>@item.Degree</td>
                    <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/About/CreateAbout/" class="btn btn-dark">Oluştur</a>
</div>