@model List<AcunMedyaPortolfyoProject.Models.Services>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmetler Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ServicesID</th>
                <th>Description</th>
                <th>Title</th>
                <th>IconUrl</th>
                <th>Description2</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServicesID</td>
                    <td>@item.Description</td>
                    <td>@item.Title</td>
                    <td><img src="@item.IconUrl" style="width:50px" /></td>
                    <td>@item.Description2</td>
                    <td><a href="/Services/UpdateServices/@item.ServicesID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Services/DeleteServices/@item.ServicesID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Services/CreateServices/" class="btn btn-dark">Oluştur</a>
</div>