@model AcunMedyaPortolfyoProject.Models.Services
@{
    ViewBag.Title = "UpdateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmet Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.ServicesID) 
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" }) <br />
    <label>Hizmet</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" }) <br />
    <label>Hizmet Simgesi Url</label> 
    @Html.TextBoxFor(x => x.IconUrl, new { @class = "form-control" }) <br />
    <label>Açıklama-2</label>
    @Html.TextBoxFor(x => x.Description2, new { @class = "form-control" }) <br />
    <button class="btn btn-success">Güncelle</button> 
</form>